    /* Vairables for colors in site */
    :root {
      --navColor: #4DA1A9;
      --lightNavColor: rgba(215, 232, 186, 0.3);

      --footerColor: #D7E8BA;
      
      --titleColor: #FFA630;

      --acceptColor: rgba(77, 161, 169, 0.4);
      --progressBarColor: rgba(146, 144, 213, 1);

      --goalColor:  rgba(187, 186, 232, 0.7);
    }

    .bodyFlex{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .box{
      margin: 40px;
    }
    
    .lightBackground{
      background: var(--lightNavColor);
    }

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: var(--navColor); 
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: var(--footerColor);
      color: black;
      padding: 15px;
    }

    footer h5{
      font-weight: bold;
      margin: 0;

    }

    footer p{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    footer .line{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    
    .line p{
      margin: 0;
      padding: 0;
    }

    footer span{
      padding-right: 5px;
    }
    
    .modal-header {
      background-color: #555 !important;
      color: white  !important;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

.container {
  padding: 16px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close
{
  color: white  !important;
  opacity: 1;
}

html, body {
  height: 100%;
  margin: 0;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 1px;
}

.container {
  min-height: 92%;
  padding: 0;
}

/* Navbar */ 
.navbar-brand {
  color: white !important; 
  font-weight: 300;
  letter-spacing: 1px;
  /* font-size: 2em;  */
}

.navbar-right a{
  color: white !important; 
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.2em; 
  /* margin: 15px;  */
}

.navbar-right span {
  /* margin: 5px; */
}

.color-white{
  color: white !important;
}
.back-color-nav{
  background: var(--navColor) !important;
}

.orange-header {
  color: var(--titleColor); 
}

/* Introduction index.html */ 
.introduction{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction h2{
  font-size: 6em;
  font-weight: 400; 
  margin: 10px 0;
  color: var(--navColor); 
}

.introduction p {
  font-size: 2.7em; 
  color: var(--titleColor); 
  font-weight: 300;
  margin-bottom: 70px; 
}

/* .introduction a:first-of-type {
  background-color: var(--navColor); 
} */

.introduction a:last-of-type {
  color: black;
}

/* Form login */ 
.login{
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form h2 {
  margin-bottom: 35px;
}

#floatingInput {
  margin: 0; 
  border-left: none; 
}

#floatingPassword {
  margin: 0; 
  border-left: none; 
}

.input-group {
  margin: 20px 0; 
}

.input-group-addon {
  background-color: white; 
  color: var(--navColor) ;
}

/* Mandatory feedback */ 

.mandatory {
  color: red; 
}


/* Parent view */ 
.family_score_container {
  width: 100%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.family_score_list li {
  background-color: var(--footerColor);
  margin: 10px 0; 
  min-height: 50px;
  text-align: left;
  color: black; 
  font-size: 1.2em; 
}

.family_score_container h2 {
  text-align: left;
  color: var(--titleColor); 
  width: 100%;
  /* order: 1;  */
}

.family_score_container h3 {
  text-align: left;
  width: 50%; 
  align-self: flex-start;
  /* order: 2;  */
}

.family_score_container button {
  text-align: right;
  /* width: 50%;  */
  align-self: flex-end;
  color: black; 
  /* order: 2;  */
}

.goal li{
  background-color: var(--goalColor) !important;
}

#goalModal .modal-header{
  background-color: var(--navColor) !important; 
}

#goalModal .modal-body label{
  text-align: left;
  width: 100%; 
  font-size: 1.2em; 
  letter-spacing: 1px;
  font-weight: 300;
  margin: 10px 0; 
}


/* Make the button round **/
.roundButton{
  border-radius: 30px;
  color: white;
  background: var(--navColor);
  width: 12%; 
  min-width: 200px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.smallRoundButton{
  border-radius: 30px;
  color: white;
  background: var(--navColor);
  border: none;
  padding: 7px;
}

/* Set full width **/
.fullWidth{
  width: 100%;
  margin-top: 5px;
}

.choresTableHeader
{
  background-color: var(--footerColor);
}

.leftAlign
{
  text-align: left;
}


/* To Accept List*/
.toAcceptContainer {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.toAcceptContainer li {
  background-color: var(--footerColor); 
  margin: 10px 0; 
  min-height: 50px;
  text-align: left;
  color: black; 
  font-size: 1.2em; 

  list-style-type: none;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  border-radius: 5px;
  padding: 10px;
}

.toAcceptContainer ul {
  padding: 0;
  width: 100%; 
}

.acceptIcons{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.dot{
  height: 35px;
  width: 35px;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: var(--navColor);
  cursor: pointer;
}

.iconButton, .iconButton:hover, .iconButton:active, .iconButton:visited {
  background: none !important;
  color: black !important;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none
}

.listItemRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listItemContent{
  background: white;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}


/* ChildView */
.profileBox{
  background: var(--lightNavColor);
  border-radius: 20px;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profileBox h1{
  color: var(--navColor);
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 15px;
  margin-top: 0;
}

.profileBox h2{
  color: var(--progressBarColor);
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
}

/* Large Coin */
.coinLayer1{
  height: 45px;
  width: 45px;
  background-color: #FCB26E;
  border: solid white 1px;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
}
.coinLayer2{
  height: 35px;
  width: 35px;
  background-color: #FCCC6E;
  
  border: solid white 1px;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.coinText{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.profileText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.scoreLine{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileBoxIcon{
  font-size: 6em;
  color: var(--navColor)
}

.editBox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.childContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.childContainer h2{
  color: var(--titleColor);

}

.listItemRow .coinLayer1{
  height: 35px;
  width: 35px;
}

.listItemRow .coinLayer2{
  height: 25px;
  width: 25px;
  font-size: 0.5em;
}
.childContainer .dot{
  cursor: auto;
}

.cardButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cardSections{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progressBar{
  background: var(--progressBarColor);
  width: 40%;
  height: 20px;
  border-radius: 10px;
}

/* recently earned childview */ 

.childEarned_container li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.childEarned_container .dot {
  margin-right: 10px;
}

.childEarned_container h2{
  text-align: left;
}

/* Table chores parentview */
#tblChores tr td:last-of-type span {
  color: var(--navColor); 
  float: right; 
  cursor: pointer;
  line-height: 1.42857143;
}  
